/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* FONTS */

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v18-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v18-latin_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-300.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v18-latin_cyrillic-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v18-latin_cyrillic-300.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-300italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/montserrat-v18-latin_cyrillic-300italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v18-latin_cyrillic-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-300italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v18-latin_cyrillic-300italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v18-latin_cyrillic-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-italic.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v18-latin_cyrillic-italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v18-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v18-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v18-latin_cyrillic-700.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-700italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v18-latin_cyrillic-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v18-latin_cyrillic-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v18-latin_cyrillic-700italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Обнуление стилей */

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat";
  font-size: 1rem;
  color: var(--text);
  line-height: 1.67;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p {
  margin: 0;
}

nav,
menu,
header,
footer,
aside,
article,
section,
aside,
figure,
figcaption {
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
}

img,
picture {
  max-width: 100%;
}

a {
  text-decoration-color: var(--purple);
  color: var(--purple);
}

ul li {
  list-style: square;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Цветовые схемы */

.light-theme {
  --text: #2a2d2e;
  --text-second: #72787a;
  --wrapper-bg: #f0fafd;
  --white-black: #fff;
  --purple: #7443ff;
  --turquoise: #3fbda3;
}

.dark-theme {
  --text: #f0fafd;
  --text-second: #d3dbde;
  --wrapper-bg: #262a2b;
  --white-black: #303436;
  --purple: #9c27b0;
  --turquoise: #288a93;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Вертска страницы  */

/* wrapper  */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--wrapper-bg);
}

/* constainer */
.container {
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
}

/* блок с контентом занимает свободное пространство, чтобы прибить футер */
.content {
  /* чтобы блок занимал весь свободный объем */
  flex-grow: 1;
}

/* section */
.section {
  padding: 3.75rem 0 0;
}

.section__title {
  font-weight: 700;
  font-size: 2rem;
  background-color: #2b3a42;
  color: #fff;
  padding: 10px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* --------------------------------------------  */
/* HEADER */
.header {
  width: 100%;
  background-color: var(--white-black);
  padding-bottom: 2.5rem;
}

.header__inner {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
}

.header__logo {
  display: block;
  height: 75px;
  width: 200px;
  cursor: pointer;

  background-image: url("../images/logo/logo.webp");
  background-size: 100% 100%;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.header__title {
  font-size: 4.5rem;
  line-height: 1;
  text-align: center;
}

.header__title:after {
  content: "";
  display: block;
  height: 8px;
  width: 90%;
  margin: 20px auto;
  background: linear-gradient(90deg, var(--purple) 10%, var(--turquoise) 100%);
}

.header__desc {
  font-size: 1.25rem;
}

/* --------------------------------------------  */
/* NAVIGATION */
.nav {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -500px;
  left: 0;
  z-index: 10;

  background-color: rgba(42, 45, 46, 0.85);
  border-bottom: 6px solid transparent;
  border-image: linear-gradient(to left, var(--turquoise), var(--purple));
  border-image-slice: 1;

  transition: all 0.5s cubic-bezier(1, -0.27, 0, 1.26);
}

.nav:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(42, 45, 46, 0.85);
}

.nav.active {
  top: 0;
}

.nav__link {
  display: flex;
  position: relative;
  font-size: 1.875rem;
  font-weight: 700;
  color: #f0fafd;
  text-decoration: none;
  line-height: 1;

  padding: 1.875rem 0;
  transition: color 0.2s linear;
}

.nav__link:not(:last-child) {
  margin-right: 1.5rem;
}

.nav__link.active {
  color: var(--purple);
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--purple);
  left: 0;
  bottom: 15px;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.nav__link:hover {
  color: var(--purple);
}

.nav__link.active:after,
.nav__link:hover:after {
  opacity: 1;
}

/* --------------------------------------------  */
/* controls */
.controls {
  display: flex;
  z-index: 15;
  align-items: center;
}

.controls__search,
.controls__switcher {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 24px;
  color: #ccc;
  margin-right: 35px;
  padding-top: 4px;
  color: var(--purple);
  cursor: pointer;
}

.controls__switcher:hover {
  color: #fee13b;
}

.dark-theme .controls__switcher {
  color: #fee13b;
}

/* --------------------------------------------  */
/* Burger-menu */
.burger-menu {
  width: 30px;

  position: relative;
}

.burger-menu__item {
  height: 4px;
  width: 100%;

  background-color: var(--purple);

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  cursor: pointer;
  transition: all 0.5s linear;
}

.burger-menu__item:before {
  content: "";
  height: 4px;
  width: 100%;

  background-color: var(--purple);

  display: block;
  position: absolute;
  top: 10px;
  right: 0;

  cursor: pointer;
  transition: all 0.3s linear;
}

.burger-menu__item:after {
  content: "";
  height: 4px;
  width: 100%;

  background-color: var(--purple);

  display: block;
  position: absolute;
  top: -10px;
  left: 0;

  cursor: pointer;
  transition: all 0.3s linear;
}

.burger-menu__item.active {
  background-color: transparent;
  transition: all 0.15s linear;
}

.burger-menu__item.active.burger-menu__item:after {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu__item.active.burger-menu__item:before {
  top: 0;
  transform: rotate(-45deg);
}

/* --------------------------------------------  */
/* section about */
.about {
  margin-bottom: 3.75rem;
}

.about__container {
  max-width: 60rem;
  margin: 0 auto;
  background-color: var(--white-black);
  padding: 2.5rem;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item {
  width: 32.5%;
}

.about__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.about__item_big {
  width: 100%;
  display: flex;
  background: none;
}

.about__item:nth-child(1) {
  background: linear-gradient(135deg, var(--purple) 10%, var(--turquoise) 100%);
}

.about__item:nth-child(2) {
  background: linear-gradient(180deg, var(--purple) 10%, var(--turquoise) 100%);
}

.about__item:nth-child(3) {
  background: linear-gradient(225deg, var(--purple) 10%, var(--turquoise) 100%);
}

.about__item:nth-child(1):hover .about__inner {
  transform: translate(20px, -20px);
  background: linear-gradient(90deg, var(--purple) 25%, var(--turquoise) 100%);
  z-index: 2;
}

.about__item:nth-child(2):hover .about__inner {
  transform: translate(20px, -20px);
  background: linear-gradient(180deg, var(--purple) 10%, var(--turquoise) 100%);
  z-index: 1;
}

.about__item:nth-child(3):hover .about__inner {
  transform: translate(20px, -20px);
  background: linear-gradient(225deg, var(--purple) 10%, var(--turquoise) 100%);
}

.about__inner {
  position: relative;
  transition: 0.2s;
}

.about__item:hover .about__inner {
  transition: 0.3s;
}

.about__photo {
  padding-bottom: 100%;
}

.about__item:hover .about__photo {
  opacity: 0.25;
  transition: 0.3s;
}

.about__pic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about__text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #f0fafd;

  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  width: 95%;
  text-align: center;
  text-decoration: none;
  opacity: 0;
}

.about__item:hover .about__text {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.4s;
}

.about__text::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: -150px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-size: cover;
}

.about__text_codepen.about__text::before {
  background-image: url(../images/icons/codepen.svg);
}

.about__text_jsfiddle.about__text::before {
  background-image: url(../images/icons/jsfiddle.svg);
}

.about__text_github.about__text::before {
  background-image: url(../images/icons/git.svg);
}

.about__social {
  flex-direction: column;
  margin-right: 2rem;
  padding-top: 0.6rem;
}

.about__info {
  font-size: 1rem;
}

.about__title {
  font-size: 1.25rem;
}

.about__desc {
  margin-bottom: 1rem;
}

.about__desc p {
  margin-bottom: 5px;
}

.about__author {
  text-align: end;
}

.about__email {
  font-size: 0.875rem;
  color: #999;
  font-style: italic;
  font-weight: 300;
  text-align: end;
}

/* --------------------------------------------  */
/* SOCIAL */
.social {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #fff;

  font-size: 2rem;
  color: var(--purple);
  text-decoration: none;
  transition: all 0.3s linear;

  border-radius: 5px;
  border: none;

  margin-bottom: 2.75rem;
}

.social__item:hover,
.social__item:focus {
  background-color: var(--purple);
  color: #fff;
}

/* --------------------------------------------  */
/* blog */
.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 3.75rem;
}

.blog__item {
  display: grid;
  grid-template: auto auto auto 1fr auto / 1fr;
  grid-auto-flow: row;
  background-color: var(--white-black);
  box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
  text-align: center;
}

.blog__header {
  margin-bottom: 1.875rem;
  border-bottom: 3px solid var(--purple);
}

.blog__link {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.blog__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* object-fit: cover; - убрал, чтоб не зернилась картинка */
  transition: transform 0.2s linear;
}

.blog__img:hover,
.blog__img:focus {
  transform: scale(1.1);
}

.blog__link:focus .blog__img {
  transform: scale(1.1);
}

.blog__title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 1.875rem;
  margin-bottom: 5px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__title-text {
  position: relative;
  text-decoration: none;
  line-height: 30px;
  color: var(--text);
}

.blog__title-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;

  background-color: var(--turquoise);
  z-index: -1;
  opacity: 0.7;

  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(1, -0.27, 0, 0.99);
}

.blog__title-text:hover:before,
.blog__title-text:focus:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.blog__date {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--purple);

  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 8px;
}

.blog__text {
  grid-auto-rows: 1fr;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-second);
  max-height: 70px;
  padding: 0 1.875rem 0;
  margin-bottom: 1.25rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__footer {
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--purple);
  padding: 0 1.875rem 1.875rem;
}

.blog__tags {
  display: flex;
  align-items: baseline;
}

/* tags */
.tags__icon {
  margin-right: 4px;
  font-size: 10px;
}

.tags__item {
  margin-right: 4px;
}

/* date */
.date__icon {
  margin-right: 3px;
}

/* --------------------------------------------  */
/* footer */
.footer {
  background-color: var(--white-black);
  color: var(--text);
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* copyright */
.copyright {
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem 0;
}

.copyright__link {
  color: var(--purple);
  text-decoration: none;
}

/* arrow-up  */
.arrow__up {
  display: none;
  position: fixed;
  right: 8px;
  bottom: 100px;
  background-color: transparent;
  cursor: pointer;

  font-size: 35px;
  padding: 0;
  border: 0;
  color: var(--purple);
}

.arrow__up--active {
  display: block;
}

.arrow__up::after {
  content: "Up!";
  display: block;
  opacity: 0;
  font-size: 14px;
  transition: all 0.3s linear;
}

.arrow__up:hover::after {
  opacity: 1;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* OCTOBER CMS STYLES (костыли) */

/* --------------------------------------------  */
/* не показывать список постов на главной */
#blog .post-list {
  display: none;
}

/* пагинация на главной */
.pagination {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pagination li {
  text-align: center;
  list-style: none;
  text-decoration: none;
}

.pagination li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  opacity: 0.8;

  padding: 0.25rem 1.5rem;
  border: 1px solid var(--turquoise);
  border-radius: 8px;
  transition: 0.2s;
}

.pagination li a:hover,
.pagination li a:focus {
  background-color: var(--turquoise);
  border-color: var(--turquoise);
  color: #fff;
}

.pagination li.active a {
  background-color: var(--turquoise);
  border-color: var(--turquoise);
  color: #fff;
}

/* --------------------------------------------  */
/* оформление поиска */
.form-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 6rem;
  position: absolute;
  left: -4000px;
  transition: all 0.28s ease 0.5s;
  z-index: 15;
  width: 100%;
  height: 100%;

  background-color: rgba(42, 45, 46, 0.85);
  padding: 50px;
}

.form-inline.active {
  left: 0;
}

.form-control {
  display: inline-block;
  width: 100%;
  max-width: 50vw;
  color: var(--text);
  background-color: var(--white-black);
  border: 5px solid var(--purple);
  text-decoration: none;
  padding: 8px 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

  outline: none;

  transition: all 0.2s linear;
}

.form-control:hover {
  border: 5px solid var(--purple);
}

.form-inline select {
  display: none;
}

.form-inline:after {
  content: "FFgsg";
  display: inline-block;
}

/* --------------------------------------------  */
/* оформление поста */
hr {
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #c5d5d5;
}

.post {
  padding: 2rem 3.25rem;
  color: var(--text);
  background-color: var(--white-black);
  border-bottom: 1px solid #c5d5d5;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to left, var(--turquoise), var(--purple));
  border-image-slice: 1;

  box-shadow: 0px 5px 6px 0px rgb(34 60 80 / 20%);
}

.post__container {
  max-width: 60rem;
  margin: 0 auto;
}

.post h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

.post p {
  margin-bottom: 10px;
}

.post p:last-child {
  margin-bottom: 0;
}

.post blockquote {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 30px;
  font-size: 15px;
  border-left: 5px solid var(--turquoise);
}

.post blockquote p {
  margin: 0;
}

.post pre {
  font-size: 13px;
  background-color: #f5f5f5;
  padding: 8px;
  margin: 20px 0;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.post li {
  margin-bottom: 5px;
}

.post img {
  border: 1px solid #333;
  border-radius: 5px;
}

.post img:hover {
  cursor: pointer;
}

.post iframe {
  display: block;
  margin: 20px auto;
}

/* title */
.post-title {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 3.75rem 0;
}

/* tags */
.post-tags {
  padding: 2rem 3.25rem;
  margin: 0 auto 3.75rem auto;
  background-color: var(--white-black);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--purple);
  box-shadow: 0px 5px 6px 0px rgb(34 60 80 / 20%);
}

/* --------------------------------------------  */
/* открытие картинки на весь экран */
.open-img {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.55);
  z-index: 25;

  display: none;
}

.open-img.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.open-img__wrapper {
  position: relative;
  max-width: 88%;
}

.open-img__controls {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

/* --------------------------------------------  */
/* error page */
.error {
  min-height: 450px;
}

.error__title {
  margin-top: 50px;
}

/* --------------------------------------------  */
/* @media  max-width: 768px */
@media (max-width: 768px) {
  /* html */
  html {
    font-size: 0.875rem;
  }

  /* header */
  .header__logo {
    height: 60px;
    background-image: url(../images/logo/logo-mini.webp);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav__link {
    font-size: 1.475rem;
  }

  /* section  */
  .section {
    padding: 5rem 0 0;
  }

  /* blog */
  .blog {
    margin-bottom: 5rem;
  }

  .blog__header {
    margin-bottom: 1rem;
  }

  .blog__title {
    padding: 0 1.429rem;
  }

  .blog__text {
    padding: 0 1.429rem;
    margin-bottom: 1rem;
  }

  .blog__footer {
    padding: 0 1.429rem 1.429rem;
  }

  /* about */
  .about__text::before {
    width: 85px;
    height: 85px;
    top: -95px;
  }
} /* конец max-width: 768px */

/* --------------------------------------------  */
/* @media  max-width: 480px */
@media (max-width: 480px) {
  /* body */
  body {
    font-size: 13px;
    line-height: 1.5;
  }

  /* container  */
  .container {
    width: 96%;
  }

  /* header */
  .header__inner {
    padding: 0.5rem 0;
  }

  .header__logo {
    height: 45px;
  }

  /* nav  */
  .nav__link {
    font-size: 15px;
    padding: 15px 20px;
  }

  /* section */
  .section {
    padding: 30px 0 0;
  }

  .section__title {
    font-size: 19px;
  }

  .section__text {
    font-size: 13px;
  }

  .blog {
    margin: 0 0 30px;
  }

  .social__item {
    flex-basis: 30px;
    font-size: 18px;
  }

  /* copyright  */
  .copyright {
    font-size: 11px;
    padding: 6px 0;
  }

  /* OCTOBER CMS */
  .post h2 {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .post img {
    margin: 10px 0;
  }

  .post li {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .post pre {
    font-size: 12px;
    margin: 10px 0;
  }

  .post blockquote {
    font-size: 12px;
    padding: 5px 10px;
  }

  .btn {
    display: inline-block;
    padding: 3px;
    font-size: 8px;
    font-weight: 300;
    border: 3px solid #fff;
    transition: all 0.2s linear;
  }
} /* конец media 480px */

/* Mobile Landscape. max-width: 920px выбрал опытным путем, это дисплеи ультра высокой четкости в альбомной ориентации типа новых андройдов и последних айфонов.
Эти правила после всех остальных, так как могут перебиться остальными!*/
@media (max-width: 920px) and (orientation: landscape) {
  /* body {
    font-size: 14px;
    line-height: 1.5;
  }

  .header__menu {
    display: block;
  }

  .section__title {
    font-size: 20px;
  }

  .btn {
    font-size: 13px;
    padding: 4px 22px;
  }

  .post img {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .open-img__controls {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .open-img__wrapper {
    max-width: 85%;
  } */
} /* конец max-width: 920px и lanscape */

/* --------------------------------------------  */

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* трек */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.21);
}

/* ползунок */
body::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  height: 15px;
}
